@font-face{
  font-family: 'PingFangSC-Regular';
  src: url('../fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff'); 
  src: url('../fonts/1Ptug8zYS_SKggPNyCAIT5lu.woff2') format('woff');
  src: url('../fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff');
  src: url('../fonts/fontawesome-webfont-4.7.0.ttf') format('truetype');
  src: url('../fonts/iJWEBXyIfDnIV7nEnXC61F3f.woff2') format('woff');
  src: url('../fonts/iJWKBXyIfDnIV7nBrXw.woff2') format('woff');
  src: url('../fonts/Simple-Line-Icons-2.4.0.eot')  format('embedded-opentype');
  src: url('../fonts/fontawesome-webfont-4.7.0.eot')  format('embedded-opentype');
  src: url('../fonts/fontawesome-webfont-4.7.0.woff2')  format('woff'); 
  src: url('../fonts/iJWKBXyIfDnIV7nDrXyi0A.woff2')  format('woff2');  
}
body {
  font-family: PingFangSC-Regular;
}
// h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//   font-family: Rubik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
// }